@model IEnumerable<ASP_First_Lesson.Entities.Drink>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drinks Page</title>
</head>
<body>

    <h1>Drinks</h1>
    <hr />

    @foreach (var item in Model)
    {
        <div>
            <h1>ID : @item.Id</h1>
            <h1>Name : @item.Name</h1>
            <h1 style="padding-bottom:30px">Price : @item.Price ₼</h1>
        </div>
    }

</body>
</html>